.bgimg {
  background-image: url("images/bg1.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 100%;
  height: 650px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}
.bticket {
  width: 600px;
  height: auto;
  padding: 40px;
  margin-top: 10px;
  margin-left: 40px;
  background-color: #0d3349;
}
.view {
  width: 600px;
  height: auto;
  padding: 40px;
  margin-left: 50%;
  background-color: #0d3349;
  margin-top: 40px;
}
.delete {
  width: 600px;
  margin-top: 100px;
  height: auto;
  padding: 40px;
  margin-top: -41.5%;
  margin-left: 50%;
  background-color: #0d3349;
  padding-top: 130px;
}
.hearder {
  margin-left: 38%;
  /*background-color: white;*/
  margin-bottom: 391px;
  background-color: white;
  opacity: 0.9;
  filter: alpha(opacity=90); /* For IE8 and earlier */
  border-radius: 30%;
}
.hearder2 {
  margin-left: 50%;
  margin-bottom: 305px;
  background-color: white;
  opacity: 0.9;
  filter: alpha(opacity=90);
  display: block;
  border-radius: 30%;
}

.blinking {
  animation: blinkingText 0.8s infinite;
}

@keyframes blinkingText {
  0% {
    color: darkblue;
  }
  49% {
    color: darkgreen;
  }
  50% {
    color: black;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}

.carousel-inner .carousel-item {
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.caption {
  background-color: white;
  color: black;
  margin-right: 20px;
  opacity: 0.75;
  filter: alpha(opacity=75);
  margin-bottom: 60px;
}
.carousel_dimensions {
  width: 500px;
  height: 200px;
}
